.title{
  margin-top: 150px;
  margin-left: 710px;
  color: rgba(37, 14, 14, 0.742);
}
.items{
  margin-top: 50px;
  margin-left: 540px;
  font-size: 30px;
  padding: 10px;
  background-color: bisque;
  border-radius: 10px;
}
.btn{
  margin-left: 20px;
  font-size: 30px;
  padding: 10px;
  background-color: bisque;
  border-radius: 10px;
}
.todolist{
  margin-top: 20px;
  margin-left: 540px;
  color: rgb(175, 119, 36);
}
.list{
  border: 1px solid rgba(255, 255, 255, 0);
  font-size: 30px;
  background-color: rgba(240, 248, 255, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgba(203, 138, 42, 0.829);
}
.check{
  color: black;
  height: 15px;
  width: 20px;
}
.delete{
  background-color: rgba(192, 10, 10, 0.559);
  border-radius: 5px;
  border: 1px solid saddlebrown;
  margin: 2px;
  padding: 3px;
  color: rgb(69, 7, 7);
}
.filter{
  font-size: 15px;
  margin-top: 10px;
  margin-left: 270px;
  padding: 10px;
  border-radius: 5px;
}
.edit{
  background-color: rgba(34, 104, 25, 0.559);
  border-radius: 5px;
  border: 1px solid saddlebrown;
  margin: 2px;
  padding: 3px;
  color: rgb(8, 61, 37);
}